*, *::before, *::after {
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0;
  }
  
  body {
    min-height: 100vh;
    background: #333;
    font-family: sans-serif;
    color: #eee;
  }

  #o__img {
    position: fixed;
    left: 200px;
    top:250px;
    width: 600px;
    height: 500px;
    border: 3px solid #08f;
    /* max-height: 100vh; */
    /* justify-self: center; */
  }

  .o__textarea {
    position:fixed;
    left:1000px;
    top: 250px;
    width: 600px;
    height: 500px;
    border: 3px solid #201d1d;
    padding: 5px;
    /* font-family: Tahoma, sans-serif; */
    /* background-image: url(bg.gif); */
    /* background-position: bottom right; */
    background-repeat: no-repeat;
    /* justify-self: center; */
  }

  .clearfix{
    clear:both;
  }

  .h {
    margin: 0;
    text-align: center;

  }
  
  .ocr {
    padding: 20px;
    display: grid;
    gap: 20px;
  }
  .ocr__form {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 8px;
  }
  .ocr__form input {
    flex-grow: 1;
    padding: 2px 4px;
  }
  
  .ocr__result .h {
    margin-bottom: 8px;
  }
  .ocr__output {
    padding: 12px;
    background: #f8f8f8;
    color: #111;
  }
  .ocr__output.error {
    color: red;
  }
  .ocr__output.processing {
    color: #08f;
  }
  #main { 
      width: 800px;
      margin: 0 auto;
  }
  #sidebar    {
      width: 200px;
      height: 400px;
      float: left;
  }

  #page-wrap  {
      width: 600px;
      height: 400px;
      margin-left: 200px;
  }