
<html>
    <head>
        <link rel="stylesheet" href="./static/index.css">
        
        <!-- {{ url_for('static', filename='index.css') }}
        {{ url_for('static', filename='jquery_min.js') }}
        {{ url_for('static', filename='tesseract_min.js') }}
        {{ url_for('static', filename='index.js') }} -->

        <script src="./static/jquery_min.js"></script>
        <!-- <script src="./static/tesseract_min.js"></script> -->
        
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tesseract.js/1.0.19/tesseract.min.js"></script> -->
        <script src="./static/index.js"></script>
    </head>
    <body>
        <div id="ocr" class="ocr">
            <h1 class="h">OCR with OpenCV and Tesseract</h1>
            <div id="ocr__result" class="ocr__result">
                <h3 class="h">Result:</h3>
                <div id="ocr__output" class="ocr__output">
                    Waiting to start.
                </div>
            </div>
            
            <form id="ocr__form" class="ocr__form">
                <label for="ocr__input">Image: </label>
                <input id="ocr__input" type="text" />
                <button type="submit">Start</button>
            </form>
            
            <img id="ocr__img" class="ocr__img" />

            <textarea name="styled-textarea" class="ocr__textarea" onfocus="this.value=''; setbg('#e5fff3');" onblur="setbg('white')">Get results here</textarea>
            
            

            


        </div>
    </body>
    
</html>